ul {
    list-style: none;
}

ul > li > img.tdc-icon {
    max-width: 70px;
	max-height: 60px;
	border-radius: 100px 100px 100px 100px;
}

input.requisito {
    margin-top: 3%;
    max-width: 80%;
    display: inline;
}

input.range-pct{
    max-width: 85%;
}

button.agregar-mas-req{
    margin-left: 1.5%;
    padding: 1px 20px 1px 20px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* RESPONSIVE*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-device-width: 375px) {
    .logo > img{
        max-width: 250px;
        max-height: 150px;
        margin-left: 18%;
    }
}
