/*  DASHBOARD  */
table > tbody > tr > td:nth-of-type(4) p{
    display: none;
}

/*  MODAL MAS INFO Y MODIFICAR  */
.modal-backdrop {
    position: static;
}

.modal-dialog{
    width: 70%;
    margin-left: 25%;
    margin-top: 0;
}
/*modificar*/
.imagen-perfil{
    margin-left: 33%;
    margin-bottom: 5%;
}
.imagen-perfil img{
    width:300px; height: 200px;
}
.nombre{
    margin-left:35%;
}
.form-group .btn-info{
    width: 300px;
    height: 50px;
    margin-left:70%;
}
ul {
    list-style: none;
    padding: 0;
}

ul > li > img.tdc-icon {
    max-width: 70px;
	max-height: 60px;
	border-radius: 100px 100px 100px 100px;
}

input.requisito {
    margin-top: 3%;
    max-width: 80%;
    display: inline;
}

input.range-pct{
    max-width: 85%;
}

button.agregar-mas-req{
    margin-left: 1.5%;
    padding: 1px 20px 1px 20px;
}
/*fin-modificar*/
.eliminarbtn{
    width: 300px;
    height: 50px;
    margin-left:67%;
}

div.info-img img{
    max-width: 160px;
	max-height: 100px;
    min-width: 160px;
    min-height: 100px;
	border-radius: 10px 10px 10px 10px;
    float: left;
    margin-right: 2%;
}
div.info-descripcion h3{
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
}
div.info-descripcion p{
    float: none;
    font-size: 14px;
}
div.info-fila1-elemento img{
    max-width: 60px;
    max-height: 40px;
    min-width: 60px;
    min-height: 40px;
    border-radius: 10px 10px 10px 10px;
}
div.info-fila1-elemento strong, div.info-fila1-elemento p{
    display: block;
    font-size: 14px;
}
div.info-fila2-elemento strong, div.info-fila2-elemento p{
    display: block;
    font-size: 14px;
}
div.info-fila1-elemento-line{
    display: inline;
}
div.info-fila1-elemento{
    text-align: left;
    margin-bottom: 15%;
}
div.info-fila2-elemento{
    margin-bottom: 15%;
}
div.info-fila1{
    float: left;
    margin-right: 10%;
}
div.info-fila2{
    float: left;
    text-align: left;
    margin-right: 10%;
}
div.info-requisitos{
    float: left;
    text-align: left;
    max-width: 48%;
}
div.info-requisitos ul{
    list-style: circle;
}
div.info-requisitos ul li p{
    font-size: 14px;
}
div.info-fila1-elemento ul li{
    margin-bottom: 5%;
}
div.info-fila1-elemento ul li i{
    margin-left: 5%;
}
div.majinfo{
    float: none;
    margin-top: 38%;
}

div.info-fila1-elemento p, div.info-fila2-elemento p{
    margin: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}



/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* RESPONSIVE*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-device-width: 375px) {
    .logo > img{
        max-width: 250px;
        max-height: 150px;
        margin-left: 18%;
    }

    /*  DASHBOARD  */
    .row{
        width: 100%;
        margin-left: -10%;
    }
    .row > .col-md-12 > .card{
        width: 122%;
    }
    thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr { border: 1px solid #ccc; }
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
        text-align: center;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
    td:nth-of-type(1) { display: none;}
    td:nth-of-type(2) { display: none;}
    td:nth-of-type(3) { display: none;}

    div table tbody tr td:nth-of-type(4){
        width: 100%;
    }

    table > tbody > tr > td:nth-of-type(4) p{
        display: block;
    }
    /*modal mas info*/
    .modal-dialog{
        width: 70%;
        font-size: 10px;
    }
    .modal-content{
        margin-left: -28%;
    }
    div.info-img{
        text-align: center;
    }
    div.info-img img {
        max-width: 150px;
        max-height: 90px;
        min-width: 150px;
        min-height: 90px;
        float: none;
        margin-right: 0%;
    }
    div.info-descripcion h3 {
        float: none;
        margin-left: 0%;
        margin-bottom: 2%;
        margin-right: 0%;
        font-size: 16px;
        text-align: center;
    }
    div.info-descripcion p {
        font-size: 10px;
        text-align: justify;
    }
    div.info-fila1-elemento strong,
    div.info-fila2-elemento strong,
    div.info-fila1-elemento p,
    div.info-fila2-elemento p,
    div.info-requisitos ul li p{
        font-size: 10px;
    }
    div.info-fila1{
        margin-right: 20%;
    }
    div.modal-footer{
        margin-top: 110%;
    }
    .modal:nth-of-type(2) div.modal-footer,
    .modal:nth-of-type(3) div.modal-footer{
        margin-top: auto;
    }
    /*modal modificar*/
    .modificar-modal .content .container-fluid .row{
        width: 120%;
    }
    .imagen-perfil{
        text-align: center;
        margin: auto;
        margin-bottom: 5%;
    }
    .imagen-perfil img{
        width:150px;
        height: 90px;
    }
    .imagen-perfil input{
        margin: auto;
    }
    .nombre{
        margin: auto;
    }
    .form-group .btn-info{
        width: 150px;
        height: 50px;
        margin: auto;
        margin-left: 20%;
    }
    .col-md-14{
        width: 90%;
        margin: auto;
        margin-top: 5%;
    }
    input.requisito {
        max-width: 79%;
    }
    .row:nth-of-type(4) .col-md-6{
        width: 50%;
        float: left;
    }
    ul > li > img.tdc-icon {
        max-width: 60px;
    	max-height: 40px;
    }
    output{
        font-size: 10px;
    }
    /*modal eliminar*/
    .eliminar-modal .content .container-fluid .row{
        width: 120%;
    }
    .eliminarbtn{
        width: 250px;
        margin-left: auto;
    }
}
